body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 226, 225);

}
#MyH1{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 32, 24);
}
#container{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: rgb(90, 179, 179);

}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(19, 36, 44);
    text-shadow: 2px 2px 2px ;
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;

}
#startBtn{
    background-color: rgb(160, 231, 89);
}
#startBtn:hover{
    background-color: rgb(111, 168, 42);
}
#stopBtn{
    background-color: rgb(239, 31, 124);
}
#stopBtn:hover{
    background-color: rgb(205, 45, 144);
}
#resetBtn{
    background-color: rgb(24, 185, 53);
}
#resetBtn:hover{
    background-color: rgb(37, 215, 90);
}
